# Todo necesita al menos leads
* @Software262/tech-leads

# Backend específico
backend/ @Software262/backend-ps-devs @Software262/tech-leads
api/ @Software262/backend-ps-devs @Software262/tech-leads
*.py @Software262/backend-ps-devs @Software262/tech-leads

# Docs y config
docs/ @Software262/tech-leads
.github/ @Software262/tech-leads
